openapi: 3.2.0
info:
  title: Solarwinds Users API
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: solarwinds-papertrail-openapi.yml, solarwinds-service-desk-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://papertrailapp.com/api/v1
  description: Papertrail API Server
- url: https://api.samanage.com
  description: SolarWinds Service Desk API Server
tags:
- name: Users
  description: Manage user accounts
paths:
  /users.json:
    get:
      operationId: listUsers
      summary: Solarwinds List Users
      description: Returns all users in the account.
      tags:
      - Users
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
              examples:
                Listusers200Example:
                  summary: Default listUsers 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    email: user@example.com
                    is_admin: true
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - apiToken: []
    servers:
    - url: https://papertrailapp.com/api/v1
      description: Papertrail API Server
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        email:
          type: string
          format: email
          example: user@example.com
        is_admin:
          type: boolean
          example: true
    User_2:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        email:
          type: string
          format: email
          example: user@example.com
        role:
          type: string
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 25
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Papertrail-Token
      description: Papertrail API token
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication via X-Samanage-Authorization header with Bearer prefix
x-refined-from:
- solarwinds-papertrail-openapi.yml
- solarwinds-service-desk-openapi.yml
