openapi: 3.2.0
info:
  title: SolarWinds Papertrail Saved Searches API
  description: HTTP API for cloud-based log management including searching logs, managing systems, groups, saved searches, and user accounts. Provides endpoints for log search, settings management, and system configuration.
  version: '1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://papertrailapp.com/api/v1
  description: Papertrail API Server
security:
- apiToken: []
tags:
- name: SavedSearches
  description: Manage saved searches
paths:
  /searches.json:
    get:
      operationId: listSavedSearches
      summary: Solarwinds List Saved Searches
      description: Returns all saved searches configured in the account.
      tags:
      - SavedSearches
      responses:
        '200':
          description: List of saved searches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SavedSearch'
              examples:
                Listsavedsearches200Example:
                  summary: Default listSavedSearches 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    name: Example Title
                    query: example_value
                    group:
                      id: abc123
                      name: Example Title
                      system_wildcard: example_value
                      systems: {}
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Group:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        system_wildcard:
          type: string
          example: example_value
        systems:
          type: array
          items:
            $ref: '#/components/schemas/System'
          example: []
    SavedSearch:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        query:
          type: string
          example: example_value
        group:
          $ref: '#/components/schemas/Group'
    System:
      type: object
      properties:
        id:
          type: integer
          description: System ID
          example: abc123
        name:
          type: string
          description: System name
          example: Example Title
        last_event_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        auto_delete:
          type: boolean
          example: true
        ip_address:
          type: string
          example: example_value
        hostname:
          type: string
          example: example_value
        syslog:
          type: object
          properties:
            hostname:
              type: string
            port:
              type: integer
          example: example_value
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Papertrail-Token
      description: Papertrail API token
externalDocs:
  description: Papertrail HTTP API Documentation
  url: https://www.papertrail.com/help/http-api/
