openapi: 3.2.0
info:
  title: SolarWinds Papertrail Groups API
  description: HTTP API for cloud-based log management including searching logs, managing systems, groups, saved searches, and user accounts. Provides endpoints for log search, settings management, and system configuration.
  version: '1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://papertrailapp.com/api/v1
  description: Papertrail API Server
security:
- apiToken: []
tags:
- name: Groups
  description: Manage system groups
paths:
  /groups.json:
    get:
      operationId: listGroups
      summary: Solarwinds List All Groups
      description: Returns all system groups configured in the account.
      tags:
      - Groups
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
              examples:
                Listgroups200Example:
                  summary: Default listGroups 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    name: Example Title
                    system_wildcard: example_value
                    systems:
                    - {}
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /groups/{id}.json:
    get:
      operationId: getGroup
      summary: Solarwinds Get Group Details
      description: Returns details of a specific group including its member systems.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                Getgroup200Example:
                  summary: Default getGroup 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    system_wildcard: example_value
                    systems:
                    - id: abc123
                      name: Example Title
                      last_event_at: '2026-01-15T10:30:00Z'
                      auto_delete: true
                      ip_address: example_value
                      hostname: example_value
                      syslog: {}
        '401':
          description: Unauthorized
        '404':
          description: Group not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Group:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        system_wildcard:
          type: string
          example: example_value
        systems:
          type: array
          items:
            $ref: '#/components/schemas/System'
          example: []
    System:
      type: object
      properties:
        id:
          type: integer
          description: System ID
          example: abc123
        name:
          type: string
          description: System name
          example: Example Title
        last_event_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        auto_delete:
          type: boolean
          example: true
        ip_address:
          type: string
          example: example_value
        hostname:
          type: string
          example: example_value
        syslog:
          type: object
          properties:
            hostname:
              type: string
            port:
              type: integer
          example: example_value
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: integer
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Papertrail-Token
      description: Papertrail API token
externalDocs:
  description: Papertrail HTTP API Documentation
  url: https://www.papertrail.com/help/http-api/
