openapi: 3.2.0
info:
  title: SolarWinds Pingdom Maintenance API
  description: API for website uptime monitoring, performance monitoring, and transaction checks. Enables automated management of checks, contacts, teams, and reporting for Pingdom monitoring services.
  version: '3.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.pingdom.com/api/3.1
  description: Pingdom API Production Server
security:
- bearerAuth: []
tags:
- name: Maintenance
  description: Manage maintenance windows
paths:
  /maintenance:
    get:
      operationId: listMaintenanceWindows
      summary: Solarwinds List Maintenance Windows
      description: Returns all maintenance windows configured in the account.
      tags:
      - Maintenance
      responses:
        '200':
          description: List of maintenance windows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceList'
              examples:
                Listmaintenancewindows200Example:
                  summary: Default listMaintenanceWindows 200 response
                  x-microcks-default: true
                  value:
                    maintenance:
                    - id: abc123
                      description: A sample description.
                      from: 10
                      to: 10
                      checks: example_value
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MaintenanceList:
      type: object
      properties:
        maintenance:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              description:
                type: string
              from:
                type: integer
              to:
                type: integer
              checks:
                type: object
          example: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using Pingdom API token
externalDocs:
  description: Pingdom API Documentation
  url: https://docs.pingdom.com/api/
