openapi: 3.2.0
info:
  title: SolarWinds Papertrail Events API
  description: HTTP API for cloud-based log management including searching logs, managing systems, groups, saved searches, and user accounts. Provides endpoints for log search, settings management, and system configuration.
  version: '1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://papertrailapp.com/api/v1
  description: Papertrail API Server
security:
- apiToken: []
tags:
- name: Events
  description: Search and retrieve log events
paths:
  /events/search.json:
    get:
      operationId: searchEvents
      summary: Solarwinds Search Log Events
      description: Searches log events matching the specified criteria. Returns matching events sorted by timestamp.
      tags:
      - Events
      parameters:
      - name: q
        in: query
        description: Search query string
        schema:
          type: string
        example: example_value
      - name: system_id
        in: query
        description: Limit results to a specific system
        schema:
          type: integer
        example: '500123'
      - name: group_id
        in: query
        description: Limit results to a specific group
        schema:
          type: integer
        example: '500123'
      - name: min_id
        in: query
        description: Return events after this event ID
        schema:
          type: string
        example: '500123'
      - name: max_id
        in: query
        description: Return events before this event ID
        schema:
          type: string
        example: '500123'
      - name: min_time
        in: query
        description: Start time (Unix timestamp)
        schema:
          type: integer
        example: 10
      - name: max_time
        in: query
        description: End time (Unix timestamp)
        schema:
          type: integer
        example: 10
      - name: limit
        in: query
        description: Maximum number of events to return
        schema:
          type: integer
          default: 50
        example: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSearchResult'
              examples:
                Searchevents200Example:
                  summary: Default searchEvents 200 response
                  x-microcks-default: true
                  value:
                    events:
                    - id: abc123
                      received_at: '2026-01-15T10:30:00Z'
                      generated_at: '2026-01-15T10:30:00Z'
                      display_received_at: '2026-01-15T10:30:00Z'
                      source_ip: example_value
                      source_name: example_value
                      source_id: '500123'
                      hostname: example_value
                      program: example_value
                      severity: example_value
                      facility: example_value
                      message: example_value
                    min_id: '500123'
                    max_id: '500123'
                    reached_beginning: true
                    min_time_at: '2026-01-15T10:30:00Z'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
          description: Unique event identifier
          example: abc123
        received_at:
          type: string
          format: date-time
          description: When the event was received
          example: '2026-01-15T10:30:00Z'
        generated_at:
          type: string
          format: date-time
          description: When the event was generated
          example: '2026-01-15T10:30:00Z'
        display_received_at:
          type: string
          description: Human-readable received timestamp
          example: '2026-01-15T10:30:00Z'
        source_ip:
          type: string
          description: Source IP address
          example: example_value
        source_name:
          type: string
          description: Source system name
          example: example_value
        source_id:
          type: integer
          description: Source system ID
          example: '500123'
        hostname:
          type: string
          description: Hostname
          example: example_value
        program:
          type: string
          description: Program name
          example: example_value
        severity:
          type: string
          description: Syslog severity
          example: example_value
        facility:
          type: string
          description: Syslog facility
          example: example_value
        message:
          type: string
          description: Log message content
          example: example_value
    EventSearchResult:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
          example: []
        min_id:
          type: string
          description: Minimum event ID in results
          example: '500123'
        max_id:
          type: string
          description: Maximum event ID in results
          example: '500123'
        reached_beginning:
          type: boolean
          description: Whether results include the earliest matching event
          example: true
        min_time_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Papertrail-Token
      description: Papertrail API token
externalDocs:
  description: Papertrail HTTP API Documentation
  url: https://www.papertrail.com/help/http-api/
