openapi: 3.2.0
info:
  title: SolarWinds Pingdom Contacts API
  description: API for website uptime monitoring, performance monitoring, and transaction checks. Enables automated management of checks, contacts, teams, and reporting for Pingdom monitoring services.
  version: '3.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.pingdom.com/api/3.1
  description: Pingdom API Production Server
security:
- bearerAuth: []
tags:
- name: Contacts
  description: Manage alert contacts
paths:
  /alerting/contacts:
    get:
      operationId: listContacts
      summary: Solarwinds List Alert Contacts
      description: Returns all alert contacts configured in the account.
      tags:
      - Contacts
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              examples:
                Listcontacts200Example:
                  summary: Default listContacts 200 response
                  x-microcks-default: true
                  value:
                    contacts:
                    - id: abc123
                      name: Example Title
                      notification_targets: example_value
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ContactList:
      type: object
      properties:
        contacts:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              notification_targets:
                type: object
          example: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using Pingdom API token
externalDocs:
  description: Pingdom API Documentation
  url: https://docs.pingdom.com/api/
