openapi: 3.2.0
info:
  title: SolarWinds Pingdom Probe Servers API
  description: API for website uptime monitoring, performance monitoring, and transaction checks. Enables automated management of checks, contacts, teams, and reporting for Pingdom monitoring services.
  version: '3.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.pingdom.com/api/3.1
  description: Pingdom API Production Server
security:
- bearerAuth: []
tags:
- name: ProbeServers
  description: List available probe servers
paths:
  /probes:
    get:
      operationId: listProbes
      summary: Solarwinds List Probe Servers
      description: Returns a list of all Pingdom probe servers with their locations.
      tags:
      - ProbeServers
      parameters:
      - name: onlyactive
        in: query
        description: Return only active probes
        schema:
          type: boolean
          default: false
        example: true
      responses:
        '200':
          description: List of probe servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbeList'
              examples:
                Listprobes200Example:
                  summary: Default listProbes 200 response
                  x-microcks-default: true
                  value:
                    probes:
                    - id: abc123
                      country: example_value
                      city: example_value
                      name: Example Title
                      active: true
                      hostname: example_value
                      ip: example_value
                      ipv6: example_value
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProbeList:
      type: object
      properties:
        probes:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              country:
                type: string
              city:
                type: string
              name:
                type: string
              active:
                type: boolean
              hostname:
                type: string
              ip:
                type: string
              ipv6:
                type: string
          example: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using Pingdom API token
externalDocs:
  description: Pingdom API Documentation
  url: https://docs.pingdom.com/api/
