openapi: 3.2.0
info:
  title: SolarWinds Service Desk Categories API
  description: REST API for SolarWinds Service Desk (formerly Samanage) providing CRUD access to IT service management resources including incidents, service requests, changes, problems, releases, assets, and users.
  version: '2.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.samanage.com
  description: SolarWinds Service Desk API Server
security:
- bearerAuth: []
tags:
- name: Categories
  description: Manage categories for incidents and requests
paths:
  /categories.json:
    get:
      operationId: listCategories
      summary: Solarwinds List Categories
      description: Returns all categories available for incidents and requests.
      tags:
      - Categories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
              examples:
                Listcategories200Example:
                  summary: Default listCategories 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    name: Example Title
                    description: A sample description.
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication via X-Samanage-Authorization header with Bearer prefix
externalDocs:
  description: SolarWinds Service Desk API Documentation
  url: https://apidoc.samanage.com/
