openapi: 3.2.0
info:
  title: SolarWinds Pingdom Results API
  description: API for website uptime monitoring, performance monitoring, and transaction checks. Enables automated management of checks, contacts, teams, and reporting for Pingdom monitoring services.
  version: '3.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.pingdom.com/api/3.1
  description: Pingdom API Production Server
security:
- bearerAuth: []
tags:
- name: Results
  description: Retrieve check results and performance data
paths:
  /results/{checkid}:
    get:
      operationId: getResults
      summary: Solarwinds Get Raw Check Results
      description: Returns raw test results for a specific check within a time range.
      tags:
      - Results
      parameters:
      - $ref: '#/components/parameters/CheckId'
      - name: to
        in: query
        description: End of period (Unix timestamp)
        schema:
          type: integer
        example: 10
      - name: from
        in: query
        description: Start of period (Unix timestamp)
        schema:
          type: integer
        example: 10
      - name: limit
        in: query
        description: Maximum number of results
        schema:
          type: integer
          default: 100
        example: 10
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          type: integer
          default: 0
        example: 10
      - name: probes
        in: query
        description: Filter by comma-separated probe IDs
        schema:
          type: string
        example: example_value
      - name: status
        in: query
        description: Filter by result status
        schema:
          type: string
          enum:
          - up
          - down
          - unconfirmed_down
          - unknown
        example: up
      responses:
        '200':
          description: Check results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultList'
              examples:
                Getresults200Example:
                  summary: Default getResults 200 response
                  x-microcks-default: true
                  value:
                    results:
                    - probeid: '500123'
                      time: 10
                      status: example_value
                      responsetime: 10
                      statusdesc: example_value
                      statusdesclong: example_value
        '401':
          description: Unauthorized
        '404':
          description: Check not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    CheckId:
      name: checkid
      in: path
      required: true
      description: Unique identifier for the check
      schema:
        type: integer
  schemas:
    Result:
      type: object
      properties:
        probeid:
          type: integer
          description: Probe server ID
          example: '500123'
        time:
          type: integer
          description: Test timestamp (Unix)
          example: 10
        status:
          type: string
          description: Result status
          example: example_value
        responsetime:
          type: integer
          description: Response time in milliseconds
          example: 10
        statusdesc:
          type: string
          description: Status description
          example: example_value
        statusdesclong:
          type: string
          description: Detailed status description
          example: example_value
    ResultList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Result'
          example: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using Pingdom API token
externalDocs:
  description: Pingdom API Documentation
  url: https://docs.pingdom.com/api/
