openapi: 3.2.0
info:
  title: SolarWinds Service Desk Assets API
  description: REST API for SolarWinds Service Desk (formerly Samanage) providing CRUD access to IT service management resources including incidents, service requests, changes, problems, releases, assets, and users.
  version: '2.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.samanage.com
  description: SolarWinds Service Desk API Server
security:
- bearerAuth: []
tags:
- name: Assets
  description: Manage hardware and software assets
paths:
  /hardwares.json:
    get:
      operationId: listAssets
      summary: Solarwinds List Hardware Assets
      description: Returns a paginated list of hardware assets tracked in the CMDB.
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: List of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Asset'
              examples:
                Listassets200Example:
                  summary: Default listAssets 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    name: Example Title
                    asset_type: example_value
                    serial_number: example_value
                    status: example_value
                    user:
                      id: abc123
                      name: Example Title
                      email: user@example.com
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 25
  schemas:
    UserRef:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        email:
          type: string
          example: user@example.com
    Asset:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        asset_type:
          type: string
          example: example_value
        serial_number:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
        user:
          $ref: '#/components/schemas/UserRef'
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication via X-Samanage-Authorization header with Bearer prefix
externalDocs:
  description: SolarWinds Service Desk API Documentation
  url: https://apidoc.samanage.com/
