openapi: 3.2.0
info:
  title: SolarWinds Pingdom Summary API
  description: API for website uptime monitoring, performance monitoring, and transaction checks. Enables automated management of checks, contacts, teams, and reporting for Pingdom monitoring services.
  version: '3.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.pingdom.com/api/3.1
  description: Pingdom API Production Server
security:
- bearerAuth: []
tags:
- name: Summary
  description: Retrieve performance and outage summaries
paths:
  /summary.average/{checkid}:
    get:
      operationId: getSummaryAverage
      summary: Solarwinds Get Average Response Time Summary
      description: Returns average response time and uptime data for a check over a specified time period.
      tags:
      - Summary
      parameters:
      - $ref: '#/components/parameters/CheckId'
      - name: from
        in: query
        description: Start of period (Unix timestamp)
        schema:
          type: integer
        example: 10
      - name: to
        in: query
        description: End of period (Unix timestamp)
        schema:
          type: integer
        example: 10
      - name: includeuptime
        in: query
        description: Include uptime information
        schema:
          type: boolean
          default: false
        example: true
      responses:
        '200':
          description: Average summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryAverage'
              examples:
                Getsummaryaverage200Example:
                  summary: Default getSummaryAverage 200 response
                  x-microcks-default: true
                  value:
                    summary:
                      responsetime:
                        avgresponse: 10
                      status:
                        totalup: 10
                        totaldown: 10
                        totalunknown: 10
        '401':
          description: Unauthorized
        '404':
          description: Check not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /summary.outage/{checkid}:
    get:
      operationId: getSummaryOutage
      summary: Solarwinds Get Outage Summary
      description: Returns a list of outage periods for a specific check.
      tags:
      - Summary
      parameters:
      - $ref: '#/components/parameters/CheckId'
      - name: from
        in: query
        description: Start of period (Unix timestamp)
        schema:
          type: integer
        example: 10
      - name: to
        in: query
        description: End of period (Unix timestamp)
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: Outage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryOutage'
              examples:
                Getsummaryoutage200Example:
                  summary: Default getSummaryOutage 200 response
                  x-microcks-default: true
                  value:
                    summary:
                      states:
                      - status: example_value
                        timefrom: 10
                        timeto: 10
        '401':
          description: Unauthorized
        '404':
          description: Check not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SummaryAverage:
      type: object
      properties:
        summary:
          type: object
          properties:
            responsetime:
              type: object
              properties:
                avgresponse:
                  type: integer
                  description: Average response time in milliseconds
            status:
              type: object
              properties:
                totalup:
                  type: integer
                  description: Total uptime in seconds
                totaldown:
                  type: integer
                  description: Total downtime in seconds
                totalunknown:
                  type: integer
                  description: Total unknown time in seconds
          example: example_value
    SummaryOutage:
      type: object
      properties:
        summary:
          type: object
          properties:
            states:
              type: array
              items:
                type: object
                properties:
                  status:
                    type: string
                  timefrom:
                    type: integer
                  timeto:
                    type: integer
          example: example_value
  parameters:
    CheckId:
      name: checkid
      in: path
      required: true
      description: Unique identifier for the check
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using Pingdom API token
externalDocs:
  description: Pingdom API Documentation
  url: https://docs.pingdom.com/api/
