openapi: 3.2.0
info:
  title: SolarWinds Service Desk Problems API
  description: REST API for SolarWinds Service Desk (formerly Samanage) providing CRUD access to IT service management resources including incidents, service requests, changes, problems, releases, assets, and users.
  version: '2.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.samanage.com
  description: SolarWinds Service Desk API Server
security:
- bearerAuth: []
tags:
- name: Problems
  description: Manage problem records
paths:
  /problems.json:
    get:
      operationId: listProblems
      summary: Solarwinds List Problems
      description: Returns a paginated list of problem records.
      tags:
      - Problems
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: List of problems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
              examples:
                Listproblems200Example:
                  summary: Default listProblems 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    number: 10
                    name: Example Title
                    description: A sample description.
                    state: example_value
                    priority: example_value
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 25
  schemas:
    Problem:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        number:
          type: integer
          example: 10
        name:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
        state:
          type: string
          example: example_value
        priority:
          type: string
          example: example_value
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication via X-Samanage-Authorization header with Bearer prefix
externalDocs:
  description: SolarWinds Service Desk API Documentation
  url: https://apidoc.samanage.com/
