openapi: 3.2.0
info:
  title: SolarWinds Service Desk Service Requests API
  description: REST API for SolarWinds Service Desk (formerly Samanage) providing CRUD access to IT service management resources including incidents, service requests, changes, problems, releases, assets, and users.
  version: '2.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.samanage.com
  description: SolarWinds Service Desk API Server
security:
- bearerAuth: []
tags:
- name: ServiceRequests
  description: Manage service requests
paths:
  /service_requests.json:
    get:
      operationId: listServiceRequests
      summary: Solarwinds List Service Requests
      description: Returns a paginated list of service requests.
      tags:
      - ServiceRequests
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: List of service requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceRequest'
              examples:
                Listservicerequests200Example:
                  summary: Default listServiceRequests 200 response
                  x-microcks-default: true
                  value:
                  - id: abc123
                    number: 10
                    name: Example Title
                    description: A sample description.
                    state: example_value
                    priority: example_value
                    requester:
                      id: abc123
                      name: Example Title
                      email: user@example.com
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createServiceRequest
      summary: Solarwinds Create a Service Request
      description: Creates a new service request.
      tags:
      - ServiceRequests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestCreate'
            examples:
              CreateservicerequestRequestExample:
                summary: Default createServiceRequest request
                x-microcks-default: true
                value:
                  service_request:
                    name: Example Title
                    description: A sample description.
                    priority: example_value
      responses:
        '200':
          description: Service request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'
              examples:
                Createservicerequest200Example:
                  summary: Default createServiceRequest 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    number: 10
                    name: Example Title
                    description: A sample description.
                    state: example_value
                    priority: example_value
                    requester:
                      id: abc123
                      name: Example Title
                      email: user@example.com
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 25
  schemas:
    ServiceRequestCreate:
      type: object
      required:
      - service_request
      properties:
        service_request:
          type: object
          required:
          - name
          properties:
            name:
              type: string
            description:
              type: string
            priority:
              type: string
          example: example_value
    UserRef:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        name:
          type: string
          example: Example Title
        email:
          type: string
          example: user@example.com
    ServiceRequest:
      type: object
      properties:
        id:
          type: integer
          example: abc123
        number:
          type: integer
          example: 10
        name:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
        state:
          type: string
          example: example_value
        priority:
          type: string
          example: example_value
        requester:
          $ref: '#/components/schemas/UserRef'
        created_at:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API token authentication via X-Samanage-Authorization header with Bearer prefix
externalDocs:
  description: SolarWinds Service Desk API Documentation
  url: https://apidoc.samanage.com/
