openapi: 3.2.0
info:
  title: SolarWinds Pingdom Teams API
  description: API for website uptime monitoring, performance monitoring, and transaction checks. Enables automated management of checks, contacts, teams, and reporting for Pingdom monitoring services.
  version: '3.1'
  contact:
    name: SolarWinds Support
    url: https://support.solarwinds.com
  termsOfService: https://www.solarwinds.com/legal/terms
servers:
- url: https://api.pingdom.com/api/3.1
  description: Pingdom API Production Server
security:
- bearerAuth: []
tags:
- name: Teams
  description: Manage alert teams
paths:
  /alerting/teams:
    get:
      operationId: listTeams
      summary: Solarwinds List Alert Teams
      description: Returns all alert teams configured in the account.
      tags:
      - Teams
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamList'
              examples:
                Listteams200Example:
                  summary: Default listTeams 200 response
                  x-microcks-default: true
                  value:
                    teams:
                    - id: abc123
                      name: Example Title
                      members:
                      - {}
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TeamList:
      type: object
      properties:
        teams:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              members:
                type: array
                items:
                  type: object
          example: []
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using Pingdom API token
externalDocs:
  description: Pingdom API Documentation
  url: https://docs.pingdom.com/api/
